/* General styling */
body {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 20px;
    background-image: url("https://i.pinimg.com/originals/cd/7d/96/cd7d9606618ddc1a2e406260020cfdd8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  /* Form and input styling */
  form {
    margin-bottom: 20px;
  }
  
  .input-row {
    margin-bottom: 10px;
  }
  
  input[type="number"],
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #c08585;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Output section styling */
  #output {
    font-family: monospace;
  }
  
  pre {
    white-space: pre-wrap;
    margin: 0;
  }
  
  /* Variables and equations container styling */
  #variablesContainer,
  #equationsContainer {
    margin-bottom: 10px;
  }
  
  .equation input {
    margin-right: 5px;
  }
  